<template>
  <div class="bg-white shadow-md rounded p-8 mt-4">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="file">
        Subir Excel
      </label>
      <input
        id="file"
        @change="getFile"
        ref="file"
        class="bg-white"
        :disabled="disabled"
        type="file"
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
      <button :disabled="disabled" @click="uploadUsers"
              class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Subir
      </button>
    </div>

    <div v-if="disabled" class="mt-5 mb-5">
      <span class="text-blue-500 text-sm font-bold">El archivo se está subiendo, espera un momento..</span>
    </div>

    <div v-if="success" class="mt-3">
      <button @click="downloadUploadedUsers" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Descargar usuarios subidos
        ({{text.success}})
      </button>
      <button @click="downloadFailedUsers" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Descargar usuarios fallidos
        ({{text.failed}})
      </button>
    </div>
    <div class="mb-6">
      <form method="get" action="/downloads/apithy-test.xlsx">
        <span class="block text-gray-700 text-sm font-bold mb-2">
          Descargar excel de ejemplo
        </span>
        <button id="download" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                type="submit">Descargar
        </button>
      </form>
    </div>
  </div>
</template>

<script>
  export default {
    name: "ImportUsers",
    data: () => ({
      disabled: false,
      success: false,
      errors: false,
      text: {
        success: null,
        failed: null
      }
    }),
    methods: {

      async downloadUploadedUsers() {
        window.open("http://localhost:8000/api/users?type=valid");
      },

      async downloadFailedUsers() {
        window.open("http://localhost:8000/api/users?type=invalid");
      },

      async getFile() {
        this.file = this.$refs.file.files;
      },

      async uploadUsers() {
        try {
          this.disabled = true;
          let formData = new FormData();
          formData.append('file', this.$refs.file.files[0]);

          const response = await this.$http.post("/api/users",
            formData,
            {
              headers: {
                'Content-Type': 'multipart/form-data'
              }
            }
          );

          let data = await response.data;
          if (data.success) {
            this.success = true;
            this.text.success = data.valid
            this.text.failed = data.invalid
          }
          this.disabled = false;
          console.log(data);
        }catch(e) {
          alert("Hubo un error interno");
        }
      }
    }
  }
</script>

<style scoped>

</style>
