<template>
  <div class="mt-4 p-8">
    <div class="flex flex-wrap w-full">
      <input
        class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block appearance-none leading-normal"
        type="search"
        placeholder="buscar">
      <div class="w-full mt-2">
        <table class="table-fixed w-full">
          <thead>
          <tr>
            <th class="w-1/2 px-4 py-2">Nombre</th>
            <th class="w-1/4 px-4 py-2">Email</th>
            <th class="w-1/4 px-4 py-2">Rol</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(item, index) in users">
            <td class="border px-4 py-2">{{item.name}}</td>
            <td class="border px-4 py-2">{{item.email}}</td>
            <td class="border px-4 py-2">{{item.rol.name}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Users",
    layout: 'nav-layout',
    data: () => ({
      users: []
    }),
    async created() {
      try {
        const response = await this.$http.get('/api/users/0');
        this.users = response.data;
      } catch (e) {
        alert("Hubo un error interno");
      }
    }
  }
</script>

<style scoped>

</style>
